{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Payment Details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <p></p>
            <p>You will pay your product when you receive it.</p>


        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg" style="margin-bottom: 5%;">{% trans "Continue" %}</a>
    {% endblock payment_details_content %}
{% endblock payment_details %}
